/*
Atoms

Styleguide 1

styleguide:ignore:start

@import url("_buttons.scss"); // 1.1
@import url("_main.scss"); // 1.2
...

styleguide:ignore:end
*/

/*
Main blocks

Styleguide 2

styleguide:ignore:start

@import url("header/header.css"); // 2.1
...

styleguide:ignore:end
*/
