// =============================================================================
// Variables
// =============================================================================

$primary-color: #eee;
$secondary-color: #000;
$tertiary-color: #fff;


// =============================================================================
// Material Colors
// =============================================================================

$white: #FFFFFF;
$black: #000000;
$red: #E6AF4B;
$pink: #E91E63;
$purple: #E91E63;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;


// =============================================================================
// Variables
// =============================================================================

$positive-background: $green;
$positive-color: darken($green, 20%);

$negative-background: $red;
$negative-color: darken($red, 20%);

$warning-background: $orange;
$warning-color: darken($orange, 20%);

$error-background: $red;
$error-color: darken($red, 20%);

$neutral-background: $grey;
$neutral-color: darken($grey, 20%);


// =============================================================================
// Fonts
// =============================================================================

$google-fonts: 'PT+Sans' 'Open+Sans' 'Ubuntu' 'Droid+Sans' 'Titillium+Web' 'Fjalla+One';

$base-font-family: 'PT Sans', arial, sans-serif;
$header-font-family: 'Fjalla One', arial, sans-serif;

$base-font-weight: 300;
$header-font-weight: 600;

$base-font-size: 1.5rem;
$header-font-size: $base-font-size;


// =============================================================================
// Details
// =============================================================================

$body-background: $white;
$body-color: $black;
$base-radius: 3px;

$small-scale: .9;
$medium-scale: 1;
$large-scale: 1.1;
$xlarge-scale: 1.5;


// =============================================================================
// Breakpoints
// =============================================================================

$mobile-width: 35.5em;
$tablet-width: 48.1em;
$desktop-width: 65em;
$desktopxl-width: 80em;

$tablet: 'only screen and (min-width: #{$mobile-width})';
$desktop: 'only screen and (min-width: #{$tablet-width})';
$desktop-l: 'only screen and (min-width: #{$desktop-width})';
$desktop-xl: 'only screen and (min-width: #{$desktopxl-width})';

  // $breakpoints-small: 24em;
  // $breakpoints-small-2: 29.75em;
  // $breakpoints-small-3: 39.8em;
  // $breakpoints-med: 46.8em;
  // $breakpoints-med-2: 48em;
  // $breakpoints-large: 50em;
  // $breakpoints-large-2: 54.5em;
  // $breakpoints-xl: 60em;
  // $breakpoints-xl-2: 67em;
  //
  // $bp-small: 'only screen and (min-width: #{$bp-small})';
  // $bp-small-2: 'only screen and (min-width: #{$bp-small-2})';
  // $bp-small-3: 'only screen and (min-width: #{$bp-small-3})';
  // $bp-med: 'only screen and (min-width: #{$bp-med})';
  // $bp-med-2: 'only screen and (min-width: #{$bp-med-2})';
  // $bp-large: 'only screen and (min-width: #{$bp-large})';
  // $bp-large-2: 'only screen and (min-width: #{$bp-large-2})';
  // $bp-xl: 'only screen and (min-width: #{$bp-xl})';
  // $bp-xl-2: 'only screen and (min-width: #{$bp-xl-2})';
