// =============================================================================
// Menus Variables
// =============================================================================

$menu-background: transparent;
$menu-color: $black;


// =============================================================================
// Menus Styleguide
// =============================================================================

/*

Menus

markup:


Styleguide 1.5

*/


// =============================================================================
// Menus Code
// =============================================================================

nav {
  background-color: $menu-background;
  color: $menu-color;

  li {
    float: left;
    margin-right: 1rem;
  }
}
