// =============================================================================
// Mixins Variables
// =============================================================================




// =============================================================================
// Mixins Styleguide
// =============================================================================

/*

Mixins

markup:

Styleguide 2.3

*/

// =============================================================================
// styleguide:ignore:start
// =============================================================================

// =============================================================================
// Mixins Code
// =============================================================================

@mixin vendor-prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin box-sizing($value: border-box) {
  @include vendor-prefix(box-sizing, $value);
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

// =============================================================================
// styleguide:ignore:end
// =============================================================================
